
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="chambre" routerLinkActive="active">chambre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="reservation" routerLinkActive="active">reservation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="bloc" routerLinkActive="active">bloc</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="foyer" routerLinkActive="active">foyer</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" routerLink="etudiant" routerLinkActive="active">etudiant</a>
        </li>
      </ul>
      
    </div>
  </div>

</nav>

<router-outlet></router-outlet>
